header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: goldenrod;
}

.cabeçalho {
    background-color: #1a1a1a;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #1a1a1a, #1a1a1a, #1a1a1a, goldenrod);
}

.abas {
    padding: 10px;
}

.aba-button {
    position: relative;
    background-color: #1a1a1a;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.aba-button:after {
    content: "";
    background: goldenrod;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.aba-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#loader {
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid goldenrod;
    border-radius: 50%;
    border-top: 16px solid #1a1a1a;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    nin-width: 80%;
    nin-height: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: white;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.second-animate-bottom {
    width: 80%;
    nin-height: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: white;
    position: relative;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}


/*
@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
*/

#myDiv {
    display: none;
    text-align: center;
}

#secondDiv {
    display: none;
    text-align: center;
}

.cardboard {
    position: absolute;
    width: 80%;
    height: 600px;
    top: 50px;
    bottom: 50px;
    left: 85px;
}

.codinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.input--style1 {
    margin-left: auto;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 6.5px;
    background: #fafafa;
    border-radius: 5px;
    color: #666;
    border-color: #fafafa;
}

.input--style2 {
    width: 315px;
    height: 50px;
    position: relative;
    top: 6.5px;
    background: #fafafa;
    border-radius: 5px;
    color: #666;
    border-color: #fafafa;
    margin-right: 20px;
}

.pcod {
    text-align: left;
}

.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

body {
    margin: auto;
    background: #eaeaea;
}

.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}

.info i {
    color: #F6AA93;
}

form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: left
}

form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}

h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin: 50px 0px 0px 0px
}

input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration: inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #1a1a1a;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.material-icons {
    color: white;
    position: relative;
    margin-top: 6px;
}

i {
    color: #555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact {
    background-color: goldenrod;
    border-color: black;
    color: #FFF;
    text-align: center;
    width: 200px;
    border: 1;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 70px;
}

.bouton-contact-red {
    background-color: red;
    border-color: black;
    color: #FFF;
    text-align: center;
    width: 200px;
    border: 1;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 70px;
}

.leftcontact {
    width: 49.5%;
    float: left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width: 49.5%;
    float: right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: #DE5959;
}

#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,
.show {
    display: block;
}

.space {
    height: 100px;
}